.question {display: none}

:root {
    --darkblue: rgb(28, 57, 101);
    --lightblue: rgb(180, 202, 247);
    --lightgray: rgb(240, 240, 240);
}

body {
    background-color: #d9dcd6;
    font-family: 'Arial';
    color: rgb(46, 46, 46);
}

.header {
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS';
    background-color:var(--darkblue);
    color: var(--lightgray);
    font-size: 25px;
}

.header h1 {
   display: inline-block;
   margin-left:20px;
}

h1:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--lightblue);
}

.header h2 {
    margin-right: 20px;
    float: right;
}

.header h3 {
    margin-right: 20px;
    float: right;
}

.small {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.container {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    font-size: 25px;
    margin: 50px auto;
    max-width: 900px;
    padding: 30px 40px;
}

h4, h9, h10, h11, h12 {
    font-family: 'Trebuchet MS';
    color: var(--darkblue);
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

#headerform {
    font-family: 'Trebuchet MS';
    color: var(--darkblue);
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

button {
    border: none;
    background-color: var(--darkblue);
    border-radius: 25px;
    color: var(--lightgray);
    line-height: 20px;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover {
    background-color: var(--lightblue);
}

.btn1 {
    margin: 16px 16px 16px 330px;
}

.hide {
    display: none;
}

#questionTitle {
    font-family: 'Trebuchet MS';
    color: var(--darkblue);
    font-size: 40px;
    text-align: left;
    padding-bottom: 20px;
}

.options {
    margin-top: 12px;
    border-radius: 0px;
    width: 400px;
    text-align: left;
}

.btn2 {
    margin-left: 15px;
}

.btn3 {
    margin-left: 160px;
}

li {
    list-style-type: circle;
    padding: 5px;
}

@media screen and (max-width: 770px) {
    .btn3 {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .btn1 {
        margin: 0px;
    }
}

@media screen and (max-width: 490px) {
    .header {
        font-size: 15px;
        padding: 10px 20px 20px 0px;
    }
    
}